# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages
- List commonly used libraries
- Arithmetic Expression

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. Scala
4. Julia

Some of the commonly used libraries used by Data Scientists include
1. ggplot2
2. Pandas
3. NumPy
4. Vegas

Table of Data Science Tools

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| Apache Spark       |
| Matplotlib         |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [3]:
# This wil convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

## Author:
Chanbora Seng